@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
.imageShow {
  object-fit:fill;
  // height: 1100px;
  // width: 850px;
  border-radius: 100px;
}

.imageTile {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
}